@model course_app.Models.Ornek
@{
    ViewBag.Title = "parent";
    var x = "";
    if (Session["ActiveUser"] == null)
    {
        Response.Redirect("~/Course/Index");
    }
    else if (Session["ActiveUser"].ToString() != "parent")
    {
        Response.Redirect("~/Course/Index");
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var id = @Html.Raw(Json.Encode(Model.parent.id));
            $.ajax({

                url: '/Course/displayImage/' + id,
                data: { section: id },
                async: true,

                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $("#image").attr("src", "data:image/jpg;base64," + data);
                }

            });
        });
    </script>


</head>
@{
    if (Model.parent.name != null)
    {

        <body>

            <hr class="">
            <div class="container target">
                <div class="row">
                    <div class="col-sm-10">
                        <h1 class="">Parent Informing System</h1>
                        @Html.ActionLink("New Child", "addChild", "Course", Model.parent, new { @class = "btn btn-info" })
                        @Html.ActionLink("Logout", "Index", "Course", null, new { @class = "btn btn-primary btn-danger" })

                        <br>

                    </div>
                    <div class="col-sm-2">
                        <a href="/users" class="pull-right"><img id="image" title="profile image" class="img-circle img-responsive" style="width:300px;max-height:200px" src=""></a>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <!--left col-->
                        <ul class="list-group">
                            <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Name</strong></span> @Html.DisplayFor(model => model.parent.name)</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Surname</strong></span> @Html.DisplayFor(model => model.parent.surname)</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Age</strong></span> @Html.DisplayFor(model => model.parent.age)</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Mail </strong></span>@Html.DisplayFor(model => model.parent.email) </li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Gender </strong></span> @Html.DisplayFor(model => model.parent.gender)</li>
                        </ul>


                    </div>
                    <!--/col-3-->

                    <div class="col-sm-9" style="" contenteditable="false">
                        <div class="panel panel-default">
                            <div class="panel-heading"></div>
                            @foreach (var item in Model.students)
                            {
                                <div class="panel-body">
                                    <h4 align="center" style="font-weight: bold;">@Html.DisplayFor(modelItem => item.student_name) @Html.DisplayFor(modelItem => item.student_surname)</h4>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Course</th>
                                                <th scope="col">Section</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Midterm</th>
                                                <th scope="col">Final</th>

                                            </tr>
                                        </thead>
                                        @foreach (var item1 in item.student_s)
                                        {
                                            <tbody>
                                                <tr>
                                                    @*@{
            if (item1.midterm > 89)
            {
                x = "AA";
            }
            else if (item1.midterm > 84)
            {
                x = "BA";
            }
            else if (item1.midterm > 79)
            {
                x = "BB";
            }
            else if (item1.midterm > 74)
            {
                x = "CB";
            }
            else if (item1.midterm > 69)
            {
                x = "CC";
            }
            else if (item1.midterm > 64)
            {
                x = "DC";
            }
            else if (item1.midterm > 59)
            {
                x = "DD";
            }
            else if (item1.midterm > 49)
            {
                x = "FD";
            }
            else
            {
                x = "FF";
            }
        }*@
                                                    @{ if (item.section_id == 0)
                                                        {
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>}
                                                        else
                                                        {

                                                            <td>@Html.DisplayFor(modelItem => item1.course_name)</td>
                                                            <td>Section @Html.DisplayFor(modelItem => item1.section_id)</td>
                                                            <td>@Html.DisplayFor(modelItem => item1.section_date)</td>
                                                        }
                                                    }

                                                    @{ if (item.midterm < 0)
                                                        {
                                                            <td></td>

                                                        }
                                                        else
                                                        {
                                                            <td>@Html.DisplayFor(modelItem => item.midterm)</td>
                                                        }
                                                        if (item.final < 0)
                                                        {
                                                            <td></td>

                                                        }
                                                        else
                                                        {
                                                            <td>@Html.DisplayFor(modelItem => item.final)</td>
                                                        }
                                                    }



                                                </tr>

                                            </tbody>
                                        }
                                    </table>
                                    <hr>
                                </div>}

                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </body>
    }
    else
    {
        <h3> Do you want to go to the mainpage?(If not you can go back to your page.)</h3>
        @Html.ActionLink("Main Page", "Index", "Course", null, new { @class = "btn btn-primary btn-danger" })
    }
}
</html>

