@model course_app.Models.Ornek
@{
    ViewBag.Title = "registrar";
    if (Session["ActiveUser"] == null)
    {
        Response.Redirect("~/Course/Index");
    }
    else if (Session["ActiveUser"].ToString() != "registrar")
    {
        Response.Redirect("~/Course/Index");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
          rel="stylesheet"
          id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
@{
    if (Model.registrar.name != null)
    {
        <body>
            <hr class="" />
            <div class="container target">
                <div class="row">
                    <div class="col-sm-10">
                    
                        <h1 class="">@Html.ActionLink(Model.registrar.name.ToString() + " " + Model.registrar.surname.ToString(), "registrar", "Course", Model.registrar, new { @style = "text-decoration:none" })</h1>
                        <h2></h2>
                        @Html.ActionLink("New Teacher", "signTeacher", "Course", Model.registrar, new { @class = "btn btn-info" })
                        @Html.ActionLink("New Course", "createCourse", "Course", Model.registrar, new { @class = "btn btn-success" })
                        @Html.ActionLink("New Section", "addSection", "Course", Model.registrar, new { @class = "btn btn-info" })
                        @Html.ActionLink("Student List", "studentList", "Course", Model.registrar, new { @class = "btn btn-primary" })
                        @Html.ActionLink("New Parent", "signParent", "Course", Model.registrar, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Logout", "Index", "Course", null, new { @class = "btn btn-primary btn-danger" })

                        <br />
                    </div>
                    <div class="col-sm-2">
                        <a href="/users" class="pull-right">
                            <img title="profile image"
                                 class="img-circle img-responsive"
                                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn636aCqljZx-n2KoTFWjQvsgd0BQFM0pmVsMLeI5q5pRvp6Wo" />
                        </a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <!--left col-->
                        <ul class="list-group">
                            <li class="list-group-item text-muted"
                                contenteditable="false">
                                Profile
                            </li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">ID </strong></span>
                                @Html.DisplayFor(model => model.registrar.id)
                            </li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">Name</strong></span>
                                @Html.DisplayFor(model => model.registrar.name)
                            </li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">Surname</strong></span>
                                @Html.DisplayFor(model => model.registrar.surname)
                            </li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">Age</strong></span>
                                @Html.DisplayFor(model => model.registrar.age)
                            </li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">Mail </strong></span>
                                @Html.DisplayFor(model => model.registrar.email)
                            </li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">Gender </strong></span>
                                @Html.DisplayFor(model => model.registrar.gender)
                            </li>
                        </ul>
                    </div>
                    <!--/col-3-->
                    <div class="col-m-9" style="" contenteditable="false">
                        <div class="col-sm-9" style="" contenteditable="false">
                            <div class="panel panel-default">
                                <div class="panel-heading"></div>
                                <div class="panel-body">
                                    <h4 align="center" style="font-weight: bold;">Courses</h4>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Course</th>
                                                <th scope="col">Teacher</th>
                                                <th scope="col">Section</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model.student_Main_Pages)
                                        {
                                            <tbody>
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.course_name)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.instructor_name)</td>
                                                    @{ if (item.section_id != 0)
                                                        {
                                                            <td>Section @Html.DisplayFor(modelItem => item.section_id)</td>
                                                            Model.registrar.section_id = item.section_id;
                                                            <td> @Html.ActionLink("Delete", "DeleteSection", "Course", Model.registrar, new { @class = "btn  btn-danger" }) </td>
                                                            <td> @Html.ActionLink("Info", "ViewSection", "Course", Model.registrar, new { @class = "btn  btn-info" }) </td>}
                                                        else
                                                        {
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        }
                                                    }

                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </body>}
    else
    {
        <h3> Do you want to go to the mainpage?(If not you can go back to your page.)</h3>
        @Html.ActionLink("Main Page", "Index", "Course", null, new { @class = "btn btn-primary btn-danger" })
    }
}
</html>
