@model course_app.Models.Ornek

@{
    ViewBag.Title = "student";
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



</head>
<body>

    <hr class="">
    <div class="container target">
        <div class="row">
            <div class="col-sm-10">
                
                <h1 class="">@Html.ActionLink(Model.student.name.ToString()+" "+ Model.student.surname.ToString(), "student", "Course", null, new { @style = "text-decoration:none" })</h1>
                @Html.ActionLink("Add Course", "addCourse", "Course", null, new { @class = "btn btn-primary btn-success" })


                @Html.ActionLink("Grades", "grades", "Course", null, new { @class = "btn btn-primary btn-info" })
                @Html.ActionLink("Logout", "Index", "Course", null, new { @class = "btn btn-primary btn-danger" })
                <br>
            </div>
            <div class="col-sm-2">
                <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.rlsandbox.com/img/profile.jpg"></a>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->
                <ul class="list-group">
                    <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">ID  </strong></span> @Html.DisplayFor(model => model.student.id)</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Name</strong></span> @Html.DisplayFor(model => model.student.name)</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Surname</strong></span> @Html.DisplayFor(model => model.student.surname)</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Age</strong></span> @Html.DisplayFor(model => model.student.age)</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Mail </strong></span> @Html.DisplayFor(model => model.student.email) </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Gender </strong></span> @Html.DisplayFor(model => model.student.gender)</li>
                </ul>


            </div>
            <!--/col-3-->
            <div class="col-sm-9" style="" contenteditable="false">
                <div class="panel panel-default">
                    <div class="panel-heading">Courses</div>
                    <div class="panel-body">
                        <h4>Fizik</h4>
                        <ul>
                            <button type="button" class="btn btn-danger pull-right">Delete</button>
                            <li>Date:</li>
                            <li>Instructor: </li>
                        </ul>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <h4>Fizik</h4>
                        <ul>
                            <button type="button" class="btn btn-danger pull-right">Delete</button>
                            <li>Date :</li>
                            <li>Instructor: </li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</body>
</html>