@model course_app.Models.Ornek
@{
    ViewBag.Title = "ViewSection";
    int a = 0;
    if (Session["ActiveUser"] == null)
    {
        Response.Redirect("~/Course/Index");
    }
    else if (Session["ActiveUser"].ToString() != "registrar")
    {
        Response.Redirect("~/Course/Index");

    }

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var id = @Html.Raw(Json.Encode(Model.registrar.id));
            $.ajax({

                url: '/Course/displayImage/' + id,
                data: { section: id },
                async: true,

                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $("#image").attr("src", "data:image/jpg;base64," + data);
                }

            });
        });
    </script>

</head>
@{ if (Model.registrar.name != null)
    {
        <body>
            <div class="container target">
                <div class="row">
                    <div class="col-sm-10">
                        <hr>
                        <h1 class="">@Html.ActionLink(Model.registrar.name.ToString() + " " + Model.registrar.surname.ToString(), "registrar", "Course", Model.registrar, new { @style = "text-decoration:none" })</h1>
                        <h2></h2>
                        @Html.ActionLink("New Teacher", "signTeacher", "Course", Model.registrar, new { @class = "btn btn-info" })
                        @Html.ActionLink("New Course", "createCourse", "Course", Model.registrar, new { @class = "btn btn-success" })
                        @Html.ActionLink("New Section", "addSection", "Course", Model.registrar, new { @class = "btn btn-info" })
                        @Html.ActionLink("Student List", "studentList", "Course", Model.registrar, new { @class = "btn btn-primary" })
                        @Html.ActionLink("New Parent", "signParent", "Course", Model.registrar, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Logout", "Index", "Course", null, new { @class = "btn btn-primary btn-danger" })

                        <br />
                    </div>
                    <div class="col-sm-2">
                        <a href="/users" class="pull-right"><img id="image" title="profile image" class="img-circle img-responsive" style="width:300px;max-height:200px" src=""></a>

                    </div>
                </div>
                <br>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Midterm</th>
                            <th scope="col">Final</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.students)
                        {


                        <tr>
                            @{a++;}
                            <th scope="row">@a</th>

                            <td>@Html.DisplayFor(modelItem => item.student_id)</td>
                            <td>@Html.DisplayFor(modelItem => item.student_name)</td>
                            <td>@Html.DisplayFor(modelItem => item.student_surname)</td>
                            @{ if (item.midterm < 0)
                                {
                                    <td></td>}
                                else
                                {
                                    <td>@Html.DisplayFor(modelItem => item.midterm)</td>}
                            }

                            @{ if (item.final < 0)
                                {
                                    <td></td>}
                                else
                                {
                                    <td>@Html.DisplayFor(modelItem => item.final)</td>}
                            }
                        </tr>

                        }

                    </tbody>
                </table>

            </div>
            <hr />
        </body>
    }
    else
    {
        <h3> Do you want to go to the mainpage?(If not you can go back to your page.)</h3>
        @Html.ActionLink("Main Page", "Index", "Course", null, new { @class = "btn btn-primary btn-danger" })
    }
}
</html>
